@import url('https://pro.fontawesome.com/releases/v6.0.0-beta1/css/all.css');
ul.ul-cards {
    width: min(100%, 60rem);
    margin-inline: auto;
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    list-style: none;
    justify-content: center;
    /* display: grid;
    gap: 1rem;
    max-width: 1400px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas:
        "title burgers hot-dogs"
        "chilli sides drinks";
    grid-template-rows: auto;
    justify-content: space-evenly;
    margin-top: 3rem;
    margin-bottom: 4rem;
    padding: 3rem;
    background-color: silver;
    background-image: linear-gradient(335deg, #1565C0 23px, transparent 23px), linear-gradient(155deg, #1565C0 23px, transparent 23px), linear-gradient(335deg, #1565C0 23px, transparent 23px), linear-gradient(155deg, #303F9F 23px, transparent 23px);
    background-size: 58px 58px;
    background-position: 0px 2px, 4px 35px, 29px 31px, 34px 6px;
    position: relative;
    border: 10px rgba(107, 104, 104, 1) inset;
    width: min(100%, 60rem);
    margin-inline: auto;
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    list-style: none;
    justify-content: center; */


    
}

ul.ul-cards>li {
    --bg-color: #F2F2F2;
    --text-color: #333;
    --padding: 1rem;
    --circle-size: 5rem;
    --circle-img: 5rem;
    --circle-expand: 1rem;
    --flap-height: 1.25rem;
    --flap-offset: 0.5rem;
    max-width: 15rem;
    margin-top: calc(var(--circle-size) / 2 + var(--circle-expand));
    margin-bottom: var(--flap-offset);
    background-color: var(--bg-color);
    background-image: linear-gradient(to bottom left, transparent 50%, rgba(0 0 0 / .125));
    border-radius: var(--padding);
    padding: var(--padding);
    --bs-rim: inset -0.1rem 0.1rem 0.1rem rgb(255 255 255 / .5);
    --bs-card-spread: 0.25rem;
    --bs-card-color: rgb(0 0 0 / 0.02);
    --bs-card: -0.1rem 0.1rem var(--bs-card-spread) var(--bs-card-color), -0.2rem 0.2rem var(--bs-card-spread) var(--bs-card-color), -0.3rem 0.3rem var(--bs-card-spread) var(--bs-card-color), -0.4rem 0.4rem var(--bs-card-spread) var(--bs-card-color), -0.5rem 0.5rem var(--bs-card-spread) var(--bs-card-color), -0.6rem 0.6rem var(--bs-card-spread) var(--bs-card-color), -0.7rem 0.7rem var(--bs-card-spread) var(--bs-card-color), -0.8rem 0.8rem var(--bs-card-spread) var(--bs-card-color), -0.9rem 0.9rem var(--bs-card-spread) var(--bs-card-color), -1.0rem 1.0rem var(--bs-card-spread) var(--bs-card-color), -1.1rem 1.1rem var(--bs-card-spread) var(--bs-card-color), -1.2rem 1.2rem var(--bs-card-spread) var(--bs-card-color), -1.3rem 1.3rem var(--bs-card-spread) var(--bs-card-color), -1.4rem 1.4rem var(--bs-card-spread) var(--bs-card-color), -1.5rem 1.5rem var(--bs-card-spread) var(--bs-card-color), -1.6rem 1.6rem var(--bs-card-spread) var(--bs-card-color), -1.7rem 1.7rem var(--bs-card-spread) var(--bs-card-color), -1.8rem 1.8rem var(--bs-card-spread) var(--bs-card-color), -1.9rem 1.9rem var(--bs-card-spread) var(--bs-card-color);
    box-shadow: var(--bs-rim), var(--bs-card);
    display: grid;
    grid-template-rows: max-content max-content auto;
    justify-items: center;
    text-align: center;
    gap: 0.75rem;
    position: relative;
}

ul.ul-cards>li>.icon {
    /* width: var(--circle-img); */
    margin-top: calc(var(--circle-size) / -2 - var(--padding));
    aspect-ratio: 1;
    background-color: var(--bg-color);
    justify-self: center;
    border-radius: 50%;
    display: grid;
    place-items: center;
    box-shadow: var(--bs-rim), -0.1rem 0.1rem 0.25rem rgb(0 0 0 / .25);
    object-fit:cover;
}

img{
    width: var(--circle-img);
    /* width: var(--circle-size); */

    /* width: 100%;
    height: 100%; */
     border-radius: 50%; 
    box-shadow: 2px 2px 5px rgb(35, 34, 35);
    object-fit: contain; */


}
ul.ul-cards>li>.icon>i {
    font-size: calc(var(--circle-size) / 3);
    color: var(--accent-color);
}

ul.ul-cards>li>.title {
    margin-top: 0.5rem;
    color: var(--accent-color);
    font-weight: 700;
    text-shadow: 0 8px 9px #c4b59d, 0px -2px 1px #fff;
}

ul.ul-cards>li>.content {
    font-size: 0.8rem;
    margin-bottom: 1rem;
    color: var(--text-color)
}

ul.ul-cards>li::before,
ul>li::after {
    content: "";
    position: absolute;
}

ul.ul-cards>li::before {
    top: calc(var(--circle-size) / -2 - var(--circle-expand));
    width: calc(var(--circle-size) * 1 + var(--circle-expand) * 2);
    height: calc(100% + var(--circle-size) / 2 + var(--padding) + var(--flap-offset));
    background-color: var(--accent-color);
    background-image: linear-gradient( transparent 50%, rgb(0 0 0 / .25) 0);
    border-top-left-radius: calc(var(--circle-size) / 2 + var(--circle-expand));
    border-top-right-radius: calc(var(--circle-size) / 2 + var(--circle-expand));
    clip-path: polygon( 0 0, 100% 0, 100% calc(100% - var(--flap-offset)), calc(100% - var(--flap-offset)) 100%, var(--flap-offset) 100%, 0 calc(100% - var(--flap-offset)));
    z-index: -1;
}

ul.ul-cards>li::after {
    width: calc(var(--circle-size) * 1 + var(--circle-expand) * 2 - var(--flap-offset) * 2);
    height: var(--flap-height);
    bottom: calc(var(--flap-offset) * -1);
    border-top-left-radius: var(--flap-height);
    border-top-right-radius: var(--flap-height);
    background-color: var(--accent-color);
}


/*  */

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    padding: 2rem;
    background-color: #ECECEC;
    font-family: sans-serif;
}

h1 {
    text-align: center;
    margin-bottom: 2rem;
    font-family: Mr Dafoe, sans-serif;
    font-size: 2.5em;
    text-align: center;
    text-shadow: 0 -3px 0 #333, 0 6px 8px rgba(0, 0, 0, .4), 0 9px 10px rgba(0, 0, 0, .15), 0 30px 10px rgba(0, 0, 0, .18), 0 15px 10px rgba(0, 0, 0, .21);
}

body {
    background: #ececec;
    background-image: url('data:image/svg+xml,%3Csvg width="42" height="44" viewBox="0 0 42 44" xmlns="http://www.w3.org/2000/svg"%3E%3Cg id="Page-1" fill="none" fill-rule="evenodd"%3E%3Cg id="brick-wall" fill="%239C92AC" fill-opacity="0.4"%3E%3Cpath d="M0 0h42v44H0V0zm1 1h40v20H1V1zM0 23h20v20H0V23zm22 0h20v20H22V23z"/%3E%3C/g%3E%3C/g%3E%3C/svg%3E');
}

.shadow {
    font-family: Mr Dafoe, sans-serif;
    font-size: 16em;
    text-align: center;
    text-shadow: 0 -3px 0 #333, 0 6px 8px rgba(0, 0, 0, .4), 0 9px 10px rgba(0, 0, 0, .15), 0 30px 10px rgba(0, 0, 0, .18), 0 15px 10px rgba(0, 0, 0, .21);
}





/*  */


.btn {
    position: relative;
    box-sizing: border-box;
    background-color: #482ff7;
    color: #fff;
    width: 180px;
    min-height: 44px;
    font-size: 1rem;
    font-family: "Jost", sans-serif;
    font-weight: 500;
    text-transform: uppercase;
    padding: 5px;
    border: 0;
    border-radius: 15px;
    outline: none;
    cursor: pointer;
    user-select: none;
    box-shadow: 2px 2px 5px rgb(35, 34, 35);
    margin-right: auto;
    margin-left: auto;
    text-align: center;

    /* box-shadow: 13px 13px 20px #caced1, -13px -13px 20px #fff; */
    /* text-shadow: 0 -3px 0 #333, 0 6px 8px rgba(0, 0, 0, .4), 0 9px 10px rgba(0, 0, 0, .15), 0 30px 10px rgba(0, 0, 0, .18), 0 15px 10px rgba(0, 0, 0, .21); */

} 


.wrapper {
    height: 100px;
    width: 360px;
    position: relative;
    background: linear-gradient(135deg, #14ffe9, #ffeb3b, #ff00e0);
    border-radius: 10px;
    cursor: default;
    animation: animate 1.5s linear infinite;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 20px;

}

.wrapper .display,
.wrapper span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;

}

.wrapper .display {
    z-index: 999;
    height: 85px;
    width: 345px;
    background: #1b1b1b;
    border-radius: 6px;
    text-align: center;
}

.display #time {
    line-height: 85px;
    color: #fff;
    font-size: 50px;
    font-weight: 600;
    letter-spacing: 1px;
    background: linear-gradient(135deg, #14ffe9, #ffeb3b, #ff00e0);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: animate 1.5s linear infinite;
}

@keyframes animate {
    100% {
        filter: hue-rotate(360deg);
    }
}

.wrapper span {
    height: 100%;
    width: 100%;
    border-radius: 10px;
    background: inherit;
}

.wrapper span:first-child {
    filter: blur(7px);
}

.wrapper span:last-child {
    filter: blur(20px);
}





/*  */  /* 